@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap');

:root{
   --black: black;
   --purple: purple;
   --light-color:#666;
   --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
   --dark-moderate-voilet:#663399;

}
*{
   font-family: Playfair;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   text-decoration: none;
   text-transform: none;
   transition: all .2s linear;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top:7rem ;
   scroll-behavior: smooth;
}

body{
   background: #fff;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   display: flex;

}

.header{
   height: 120px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   border: 1px solid;
   justify-content: space-between;
   padding: 2rem;
   background: #fff;
   z-index: 1000;
   padding-top: 20px;

}

 header.logo img{
   margin-top: 5px;
  height: 75%;
   width: 55%;
   display: inline-block;
}

.header .headbar a{
   font-size: 1.7rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   color: var(--light-color);
}

.header .headbar a:hover{
   color: #130707;
   background: linear-gradient(120deg, #FAB2FF 40%, #663399);
}

.header .menubtn{
   margin-right: 60px;
}

.header .menubtn button{
   padding: 10px 45px;
   text-align: center;
   font-size: 14px;
   color: #fff;
   border: none;
   background-image:linear-gradient(to right, #649bff,#9056c7,#649bff);
   border-radius: 10px;
   cursor: pointer;
}

.container{
   width: 100%;
   min-height: 170vh;
   background-color: #f7f7f7;
   display:flex;
   justify-content: center;
   align-items:left;
   padding: 0px 90px;

}
.card img{
   width: 95% ;
   height: auto;
   padding-top: 20px;
   padding-bottom: 20px;
}
.content-section{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.content-section .card{
   
   flex: 1;
   margin: 25px 25px;
  
   box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.content-section .card h3{
   text-align: center;
}

/* 
 .container hr{
   display: block;
   margin-top: 0.5rem;
  
   margin-left:30px;
   border-style: inset;
   border-width: 3px;
} 

  .top .box-container{
   padding: 6rem;
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 1.5rem;
}

.top .box-container .box{
   height: 100%;
   width:90%;
   background: #fff;
   text-align: center;
   padding: 3rem 2rem;
   box-shadow: var(--box-shadow); 
}

.top .box-container .box img{
   margin: 1rem 0;
   height: 20rem;
   width: 60%;
}

.top .box-container .box h1{
   font-size: 2.5rem;
   line-height: 1.8;
   color: var(--dark-moderate-voilet);
}

.top .box-container .box p{
   font-size: 1.5rem;
   line-height: 1.8rem;
   color: var(--light-color);
   padding: 1rem 0;

} 

 .btn{
   border:1px solid var(--black);
   display: inline-block;
   margin-top: 1rem;
   padding: .8rem 3rem;
   font-size: 1.7rem;
   border-radius: .5rem;
   color: var(--black);
   cursor: pointer;
   background: none;
} 

 .btn:hover{
   background: linear-gradient(120deg, #FAB2FF 40%, #663399);
   color: black;
   
}  */
/* 
 .bottom .container .heading{
   padding-top:8%;
   color: #5969c2;
   text-align: center;
   font-size: 2.5rem;

}

.bottom .box-container{
   padding: 6rem;
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 1.5rem;
}

.bottom .box-container .box{
   height: 100%;
   width: 100%;
   padding: 3rem 2rem;
   background: #fff;
   text-align: center;
   box-shadow: var(--box-shadow);
}

.img-container{
   height: 230px;
   width: 200px;
   overflow: hidden;
   border-radius: 0px 0px 20px 20px;
   display: inline-block;
}

.img-container img{
   transform: skew(0deg, 0deg);
   height: 250px;
   width: 270px;
   margin: -35px 0px 0px -70px;
}

.inner-skew{
   display:inline-block;
   border-radius: 20px;
   overflow: hidden;
   padding: 0px;
   transform: skew(0deg, 0deg);
   font-size: 0px;
   margin: 20px 0px 0px 0px;
   background: #c8c2c2;
   height: 190px;
   width: 200px;
}

.bottom .box-container .box h1{
   font-size: 2.5rem;
   line-height: 1.8;
   color: var(--dark-moderate-voilet);
}

.bottom .box-container .box p{
   font-size: 1.5rem;
   line-height: 1.8rem;
   color: var(--light-color);
   padding: 1rem 0;

}   */